@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}

.container {
  position: relative;
  background-color: #7B6FDE;
  margin: 50px auto;
  width: 80%;
  height: calc(100vh - 100px);
  box-shadow: 1px 1px 20px #0B0930;
  overflow: hidden;
}

.logo {
  margin-top: 14px;
  margin-left: 17px;
}

.box1 {
  position: absolute;
  top: 37%;
  left: 6%;
  float: left;
  width: 50%;
}

.box1 h1 {
  position: relative;
  font-size: 4.5rem;
  font-weight: 900;
}

.box1 h3 {
  font-size: 2.5rem;
}

.box1 a {
  line-height: 2.3em;
  text-decoration: none;
  color: #B9BEBA;
}

.social {
  position: absolute;
  bottom: 12px;
  left: 17px;
}

.social i {
  margin-right: 7px;
  font-size: 1.5rem;
}

.box2 {
  position: relative;
  display: flex;
  float: right;
  width: 50%;
}

.box2 .bg-pict {
  width: 50%;
  height: calc(100vh - 100px);
  background-image: url('../img/hawkeye.jpg');
  background-position: center;
  background-size: cover;
}

.box2 .b1 {
  width: 15%;
  background-color: #1A1A64;
}

.box2 .b2 {
  width: 35%;
  background-color: #453AA4;
}

.box2 .b2 span {
  position: absolute;
  left: 83%;
  transform-origin: left;
  transform: rotate(90deg);
  font-size: 6rem;
  color: rgba(255, 255, 255, 0.2);
}

/* h1::before {
  position: absolute;
  content: "";
  background-color: #0B0930;
  width: 70%;
  bottom: 15px;
  height: 4px;
} */